<div class="gap"></div>
  <div class="container-fluid p-5 " style="background-color: #fcba03;">
    <h1 class="text-center">
      Our Services
    </h1>

    <div class="plus-sign"></div>

  </div>
  <div class="gap"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card1 card mx-3" >
            <i class="fa-solid fa-video mx-auto" ></i>
          <h2 class="text-center">
            Online Classes
          </h2>
          <p class="text-center">
            Learn trading with Thee Traders Academy. Master strategies, market analysis, and risk management through
            expert-led online classes.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card1 card mx-3">
            <i class="fa-solid fa-building-columns mx-auto"></i>
          <h2 class="text-center">
            Offline Classes
          </h2>
          <p class="text-center">
            Learn trading offline at Thee Traders Academy. Gain hands-on experience, expert guidance, and master market
            strategies with personalized training.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card1 card mx-3">
            <i class="fa-solid fa-arrow-trend-up mx-auto"></i>
          <h2 class="text-center">
            Upcoming Stocks
          </h2>
          <p class="text-center">
            Discover top upcoming stocks with Thee Traders Academy. Learn to analyze market trends and seize profitable
            investment opportunities.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card1 card mx-3">
            <i class="fa-solid fa-bullhorn mx-auto"></i>
          <h2 class="text-center">
            IPO <br> (Initial Public Opering)
          </h2>
          <p class="text-center">
            Explore IPO opportunities with Thee Traders Academy. Learn to evaluate companies, assess risks, and invest
            confidently in new listings.
          </p>
        </div>
      </div>
    </div>
    <div class="gap"></div>
    <div class="row">
      <div class="col-md-3">
        <div class="card1 card mx-3">
            <i class="fa-solid fa-user mx-auto"></i>
          <h2 class="text-center">
            Advisory
          </h2>
          <p class="text-center">
            Get expert trading and investment advice with Thee Traders Academy Advisory. Maximize profits with tailored
            strategies and market insights.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card1 card mx-3">
            <i class="fa-solid fa-headset mx-auto"></i>
          <h2 class="text-center">
            Support
          </h2>
          <p class="text-center">
            Receive dedicated assistance with Thee Traders Academy Support. Resolve queries, enhance learning, and trade
            confidently with expert help.
          </p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div>
    <div class="gap"></div>
  </div>
  <img class="img3" src="assets/logo/shape2.png" alt="">

  <img class="img4" src="assets/logo/shape3.png" alt="">
  <img class="img5" src="assets/logo/shape4.png" alt="">
  <img class="img6" src="assets/logo/shape2.png" alt="">
  <img class="img7" src="assets/logo/shape3.png" alt="">
  <img class="img8" src="assets/logo/shape5.png" alt="">
  <img class="img9" src="assets/logo/shape5.png" alt="">
  <app-footer></app-footer>