.plus-sign {
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    animation: rotate 12s linear infinite;
}

.plus-sign::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 40px;
    background-color: #ffffff;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #fff;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.card {
    background-color: transparent;
    border: transparent;
}

.card1 {

    padding: 5px;

    ion-icon {
        font-size: 100px;
    }

    transition: all 200ms ease-in-out;
}

.card1:hover {

    transform: translateY(-7px);

    ion-icon {
        color: #fff;
    }

    h2 {
        color: #e5ff00;
    }

    p {
        color: #fff;
    }
}

.card2 {
    background-color: transparent;
    border: 3px solid #3498db;
}
