<div class="gap"></div>
    <div class="container-fluid p-5 " style="background-color: #fcba03;">
        <h1 class="text-center">
            Meet Our Team !!
        </h1>

        

    </div>
    <div class="gap"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 card1 card"><img class="mx-auto" src="assets/images/img-07.png" alt="">
                <h2 class="text-center">Affan Zama Ansari</h2>
            </div>
            <div class="col-md-3 card1 card"><img class="mx-auto" src="assets/images/img-08.png" alt="">
                <h2 class="text-center">Waseem Ahmad</h2>
            </div>
            <div class="col-md-3 card1 card"><img class="mx-auto" src="assets/images/img-09.png" alt="">
                <h2 class="text-center">Danish Imdad</h2>
            </div>
            <div class="col-md-3 card1 card"><img class="mx-auto" src="assets/images/img-010.png" alt="">
                <h2 class="text-center">Mahfooz Alam</h2>
            </div>

        </div>
    </div>
    <img class="img3" src="assets/logo/shape2.png" alt="">

    <img class="img4" src="assets/logo/shape3.png" alt="">
    <img class="img5" src="assets/logo/shape4.png" alt="">
    <img class="img6" src="assets/logo/shape2.png" alt="">
    <img class="img7" src="assets/logo/shape3.png" alt="">
    <img class="img8" src="assets/logo/shape5.png" alt="">
    <img class="img9" src="assets/logo/shape5.png" alt="">
    <app-footer></app-footer>