


<div class="gap"></div>
<img class="imglogo mt-5 ml-5" src="assets/logo/theetraders.png" alt="">
<div class="container-fluid p-5" style="background-color: #fcba03">
  <div class="row mx-auto">
    <h1 class="text-center" style="color: #fff;">
      About Thee Traders Academy
    </h1>
    

  </div>

</div>
<div class="container mt-3">
  <div class="row">
    <div class="col col-md-3 col-sm-6">
      <img class="rep" src="assets/images/website-01-min.png" alt="">
      <img class="rep" src="assets/images/website-02-a-min.png" alt="">
    </div>
    <div class="col col-md-3 col-sm-6">
      <img class="rep1" src="assets/images/website-03-min.png" alt="">
      <img class="rep1" src="assets/images/website-04-min.png" alt="">
    </div>
    <div class="col-md-6 my-auto">

      <p style="color: rgb(255, 238, 0);">
        About Us
      </p>
      <div class="h1shape"></div>
      <h4 class="fs-1" style="color: #fff;">
        Welcome to Thee Traders Academy
      </h4>
      <p
        style="color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        Thee Traders Academy is an initiative for the young generation interested in making more, willing to step
        forward and
        be free from financial situations. We provide knowledge based on self-learning, experience, and theoretical
        implications on the market.

      </p>
      <p
        style="color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        In general, trading is considered a business not suitable for everyone, but this is just a hoax which we clear
        by letting you learn about the strategies that can provide a good profit.
      </p>

      <div class="row" style="color: #fff;">
        <div class="col">
          <h4>
           
            Revision Classes
          </h4>

        </div>
        <div class="col">
          <h4>
           
            Lifetime Support
          </h4>
        </div>
      </div>
      <div class="row" style="color: #fff;">
        <div class="col">
          <h4>
          
            Trading System
          </h4>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3" style="color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p style="color: #fff;">
          WHY CHOOSE US?
        </p>
        <h1 style="color: #ffc400; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
          What Makes Us Different from the Competiton?
        </h1>
        <p>
          We focus on empowering you to understand markets deeply and develop the skills to analyze charts
          independently. Instead of offering a one-size-fits-all strategy, we guide you in creating a comprehensive
          Trading Plan tailored to your needs. This ensures you are equipped with a clear Entry Plan and Exit Plan for
          every trade.
        </p>
        <p>
          Maintaining an unbiased and neutral mindset is one of the greatest advantages in the stock market. A calm
          and focused mind not only learns but thrives, even amidst turbulence. Remember: "RESERVE YOUR CHAOS"
          —stay steady, stay prepared. <span>Not yet Member ?<a style="color:rgb(251, 255, 0);    cursor: pointer;"
              (click)="login()"> Register Now!</a></span>
        </p>
      </div>
      <div class="col-md-6 my-auto">
        <div class="row m-3">
          <div class="col-md-6 ">
            <div class=" card m-3 p-3">

              <h1 class="text-center cardi">
                <app-odometer class="subscribers-odometer" [value]="5" [startValue]="0"></app-odometer>+
              </h1>
              <h5 class="text-center cardi">
                Years
                of Experience
              </h5>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class=" card m-3 p-3">

              <h1 class="text-center cardi">
                <app-odometer class="subscribers-odometer" [value]="500" [startValue]="0"></app-odometer>+
              </h1>
              <h5 class="text-center cardi">
                Session Finised
              </h5>
            </div>
          </div>
        </div>

        <div class="row  m-3">
          <div class="col-md-6 ">
            <div class=" card m-3 p-3">

              <h1 class="text-center cardi">
                <app-odometer class="subscribers-odometer" [value]="2500" [startValue]="0"></app-odometer>+
              </h1>
              <h5 class="text-center cardi">
                Satisfied Students
              </h5>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class=" card m-3 p-3">

              <h1 class="text-center W-100 cardi">
                <app-odometer class="subscribers-odometer" [value]="10" [startValue]="0"></app-odometer>+
              </h1>
              <h5 class="text-center cardi">
                Services
              </h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div style=" max-width: 80%;" class="card h mx-auto p-3 m-3"><img class="imge1 mx-auto"
          src="assets/logo/brainstorm-process.png" alt="">
        <h2 class="text-center " style="letter-spacing: 1px; font-weight: 600;">
          Why Choose Us?
        </h2>
        <p class="text-center m-3" style="letter-spacing: 1px; font-weight: 400;">
          We make it easier for you by checking out the real-time investing analysis, that too on the trainer's
          account, who will let you into his thoughts while they are trading. We provide a view of the world inside a
          trader's head.
        </p>
        <div class="justify-content-center text-center mx-auto align-item-center">
            <button mat-fab extended (click)="login()">
                start now!
              </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="  max-width: 80%;" class="card h mx-auto p-3 m-3"><img class="imge1 mx-auto"
          src="assets/logo/mission.png" alt="">
        <h2 class="text-center " style="letter-spacing: 1px; font-weight: 600;">
          Our Mission
        </h2>
        <p class="text-center m-3" style="letter-spacing: 1px; font-weight: 400;">
          We provide every aspect of trading to give a future to your thoughts rather than just investing and waiting
          for things to happen; with us, you are ready for your next step based on your last investment outcome.
        </p>
        <div class="justify-content-center text-center mx-auto align-item-center">
            <button mat-fab extended (click)="login()">
                start now!
              </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="  max-width: 80%;" class="card h mx-auto p-3 m-3"><img class="imge1 mx-auto"
          src="assets/logo/visand-mission.png" alt="">
        <h2 class="text-center " style="letter-spacing: 1px; font-weight: 600;">
          Our Vision
        </h2>
        <p class="text-center m-3" style="letter-spacing: 1px; font-weight: 400;">
          In Thee Traders, we provide you training on the live trading account, and while you are learning, we cover
          you with all the strategies and help you lookout for the perfect strategy according to your plans.
        </p>
        <div class="justify-content-center text-center mx-auto align-item-center">
   
            <button mat-fab extended (click)="login()">
              start now!
            </button>
        
        </div>
      </div>
    </div>
  </div>
</div>




<img class="img3" src="assets/logo/shape2.png" alt="">

<img class="img4" src="assets/logo/shape3.png" alt="">
<img class="img5" src="assets/logo/shape4.png" alt="">
<img class="img6" src="assets/logo/shape2.png" alt="">
<img class="img7" src="assets/logo/shape3.png" alt="">
<img class="img8" src="assets/logo/shape5.png" alt="">
<img class="img9" src="assets/logo/shape5.png" alt="">
<app-footer></app-footer>