<div class="container-fluid mt-5">

    <div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel" data-bs-interval="2000"
      data-bs-pause="hover">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <div class="card text-center">
                <i class="fa-solid fa-graduation-cap"></i>
                <h3 class="text-center">
                  Learn from Scrach
                </h3>
                <p class="text-center mx-1 mt-3">
                  Learn the basics of the stock market, to enhance the understanding of how does the stock market works
                  and progress to an in-depth understanding, acquiring the knowledge and skills needed to thrive in stock
                  market trading.
                </p>
                <div class="text-center align-item-center justify-content-center">
                <button mat-raised-button color="primary" class="btn btn-primary">
                  learn more
                </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center">
                <i class="fa-solid fa-rotate-left"></i>
               
                <h3 class="text-center">
                  Revision Classes
                </h3>
                <p class="text-center mx-1 mt-3">
                  Over 300+ revision classes to help you cover any topic you miss in your live class or offline class. You
                  will never be left behind.
                </p>
                <div class="text-center align-item-center justify-content-center">
                  <button mat-raised-button color="primary" class="btn btn-primary">
                    learn more
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center">
                <i class="fa-solid fa-question"></i>
                <h3 class="text-center">
                  Live Q/A Session
                </h3>
                <p class="text-center mx-1 mt-3">
                  We have Live Q/A interaction sessions with our experienced trainers, where students ask their queries
                  directly
                  to him.
                </p>
                <div class="text-center align-item-center justify-content-center">
                  <button mat-raised-button color="primary" class="btn btn-primary">
                    learn more
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <div class="card text-center">
                <i class="fa-solid fa-chart-line"></i>
                <h3 class="text-center">
                  Live Trading with Experts
                </h3>
                <p class="text-center mx-1 mt-3">
                  We will provide live trading session with our experts where you can experience the expert level trading
                  techniques and learn using of indicators and other tools.
                </p>
                <div class="text-center align-item-center justify-content-center">
                  <button mat-raised-button color="primary" class="btn btn-primary">
                    learn more
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center">
                <i class="fa-solid fa-book-open"></i>
                <h3 class="text-center">
                  Provide Ready made Notes
                </h3>
                <p class="text-center mx-1 mt-3">
                  We will provide Handwritten Readymade notes in our mobile
                  App. You can access it by download it from playstore
                </p>
                <div class="text-center align-item-center justify-content-center">
                  <button mat-raised-button color="primary" class="btn btn-primary">
                    learn more
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center">
                <img src="assets/logo/tv.png" alt="">
                <h3 class="text-center">
                  Brief Knowledge of Trading View Tool
                </h3>
                <p class="text-center mx-1 mt-3">
                  Learn Trading View tool briefly with us. You will learn how to set time frames, chart, different Markets
                  etc.
                </p>
                <div class="text-center align-item-center justify-content-center">
                  <button mat-raised-button color="primary" class="btn btn-primary">
                    learn more
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <button class="carousel-control-prev" data-bs-target="#carouselExample" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-target="#carouselExample" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  </div>