
<nav class="navbar mx-auto navbar-expand-lg ">
    <div class="container-fluid">

      <a class="navbar-brand text" href="#">Thee Traders</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  text" aria-current="page" (click)="closeNavbar('/#')">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" (click)="closeNavbar('/aboutus')">ABOUT-US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" (click)="closeNavbar('/service')">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" (click)="closeNavbar('/team')">TEAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" (click)="closeNavbar('/gallery')">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" (click)="closeNavbar('/contactus')">CONTACT-US</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text" (click)="closeNavbar('/online-class')">DOWNLOAD PDF</a>
          </li> -->



        </ul>
      </div>
    </div>
  </nav>




<router-outlet />
