
<div class="gap"></div>

    <div class="marquee" style="display: none;">
        <div class="marquee-content">
            Welcome to our Trading Academy! Empowering traders since 2020.
        </div>
        <div class="marquee-content">
            Welcome to our Trading Academy! Empowering traders since 2020.
        </div>
    </div>
    <div class="container-fluid">



        <div class="row">

            <div class="col-md-1">


            </div>
            <div class="col-md-4  mt-5">

                <img class="logo" src="assets/logo/theetraders.png" alt="">
                <h1 class="head">
                    Stock Market
                    <br> Academic
                    <br> Services
                </h1>
                <p style="font-family: 'Courier New', Courier, monospace;
            font-size: 24px;
            color: white;
            font-weight: 800;">
                    "Discover the Easiest Path to Trading Success!"
                </p>
                <div class="text-center align-item-center justify-content-center">
                    <button mat-fab extended (click)="login()">
                        Enroll now
                    </button>
                </div>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-5 ">
                <div class="imgbox p-3">
                    <img class="img1 " src="assets/images/mlogo-1.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-md-5 p-3">

                <img class="img1a" src="assets/images/imga-2.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="hshape "></div>
                <h3 class="head2">
                    WELCOME TO STOCK MARKET ACADEMIC SERVICES
                </h3>
                <p class="head2p">
                    "Thee Traders Academy is the top spot for beginners seeking stock market education. Our approach is
                    clear and methodical, guiding you step by step through the essentials of trading."
                </p>
            </div>
        </div>

        <div class="row">
            <h4 class="text-center head2">
                What we are doing?
            </h4>
            <p class="text-center head2p">
                It is a long established fact that a reader will be distracted by the readable content of a
            </p>
            <div class="h1shape mx-auto"></div>
            <div class="container">
                <div class="row ">
                    <div class="col-md-3">
                        <div class="card m-3 p-3">
                            <img class="icon mx-auto" src="assets/logo/icon-1.png" alt="">
                            <h3 class="text-center cardi">
                                ACADEMIC
                            </h3>
                            <p class="text-center cardi mt-3 fs-5">
                                "Empowering traders with expert academic services."
                            </p>

                            <div class="justify-content-center text-center align-item-center">
                                <button class="button">READ MORE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card m-3 p-3">
                            <img class="icon mx-auto" src="assets/logo/icon-2.png" alt="">
                            <h3 class="text-center cardi">
                                ADVISORY
                            </h3>
                            <p class="text-center cardi mt-3 fs-5">
                                "Your trusted partner for expert stock market advice."
                            </p>
                            <div class="justify-content-center text-center align-item-center">
                                <button class="button">READ MORE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card m-3 p-3">
                            <img class="icon mx-auto" src="assets/logo/icon-3.png" alt="">
                            <h3 class="text-center cardi">
                                INVESTMENT
                            </h3>
                            <p class="text-center cardi mt-3 fs-5">
                                "Unlock your investment potential with our expert stock market services."
                            </p>
                            <div class="justify-content-center text-center align-item-center">
                                <button class="button">READ MORE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card m-3 p-3">
                            <img class="icon mx-auto" src="assets/logo/icon-4.png" alt="">
                            <h3 class="text-center cardi">
                                FINANCIAL
                            </h3>
                            <p class="text-center cardi mt-3 fs-5">
                                "Your Financial Partner for a Brighter Tomorrow"
                            </p>
                            <div class="justify-content-center text-center align-item-center">
                                <button class="button">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-horizontal-slider></app-horizontal-slider>

        <div class="container mt-3">
            <div class="row mt-5">
                <div class="col-md-5 my-auto">
                    <div class="h2shape"></div>
                    <h1 class="head">
                        Our Achievment
                    </h1>
                    <p class="head3p">
                        Here We Present The Proper Way Of Learning And Earning In Indian & Forex Stock Market, Its Year
                        And
                        Year We Improve Many Of Them Students Hustle , Learning , Planning , And Execution Of Trade With
                        Psychological Barriers.
                    </p>
                </div>


                <div class="col-md-7">
                    <img class="imgcard" src="assets/images/imga-1.png" alt="">

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-5">
                
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 p-3 my-auto">
                <div class="h2shape"></div>
                <h1 class="head">
                    Our Courses
                </h1>
                <p class="head3p">
                    Our Stock Market Program aims to help you learn and apply the knowledge and skills of a
                    professional trader, with the potential for profitable outcomes. It encompasses numerous strategies
                    and price action techniques suitable for various financial markets and trading styles, including
                    Indian stocks, futures & options, the foreign exchange market, and commodities, covering intraday
                    and swing trading.
                </p>
                <div class="text-center align-item-center justify-content-center">
                    <button mat-fab extended (click)="login()">
                        Enroll now
                    </button>
                </div>
            </div>
        </div>
    </div>



    <!-- about -->
    <div class="container-fluid my-4">
        <div class="row p-5" style="background-color: #fcba03; border:none">

            <div class="row container">
                <div class="col-md-3 ">
                    <div class="card m-3 p-3" style="background-color: transparent;">
                        <img class="icon mx-auto" src="assets/logo/icon-3.png" alt="">
                        <h1 class="text-center cardi">
                            <app-odometer class="subscribers-odometer" [value]="5" [startValue]="0"></app-odometer>+
                        </h1>
                        <h5 class="text-center cardi">
                            years
                            of Experience
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card m-3 p-3" style="background-color: transparent;">
                        <img class="icon mx-auto" src="assets/logo/icon-4.png" alt="">
                        <h1 class="text-center cardi">
                            <app-odometer class="subscribers-odometer" [value]="500" [startValue]="0"></app-odometer>+
                        </h1>
                        <h5 class="text-center cardi">
                            Session Finised
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card m-3 p-3" style="background-color: transparent;">
                        <img class="icon mx-auto" src="assets/logo/icon-2.png" alt="">
                        <h1 class="text-center cardi">
                            <app-odometer class="subscribers-odometer" [value]="2500" [startValue]="0"></app-odometer>+
                        </h1>
                        <h5 class="text-center cardi">
                            Satisfied Students
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card m-3 p-3" style="background-color: transparent;">
                        <img class="icon mx-auto" src="assets/logo/icon-1.png" alt="">
                        <h1 class="text-center W-100 cardi">
                            <app-odometer class="subscribers-odometer" [value]="10" [startValue]="0"></app-odometer>+
                        </h1>
                        <h5 class="text-center cardi">
                            Services
                        </h5>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <button
    (click)="submit()"
    style="
        background-color: rgb(9, 133, 9); 
        z-index: 4; 
        padding: 10px; 
        border-radius: 20px;
        font-size: 24px; 
        color: #fff;
        position: fixed;
        bottom: 8%;
        right: 10%;
        " >Chat With
        Us</button>

    <img class="img3" src="assets/logo/shape2.png" alt="">

    <img class="img4" src="assets/logo/shape3.png" alt="">
    <img class="img5" src="assets/logo/shape4.png" alt="">
    <img class="img6" src="assets/logo/shape2.png" alt="">
    <img class="img7" src="assets/logo/shape3.png" alt="">
    <img class="img8" src="assets/logo/shape5.png" alt="">
    <img class="img9" src="assets/logo/shape5.png" alt="">

    <app-footer></app-footer>